@charset "utf-8";

/* .e {
    position: relative;
    left: 500px;
} */

/* .red {
    position: relative;
    left: 70px;
    bottom: 41px;
} */

/* コメントする */
/* .blue {
    position: relative;
    top: 7px;
    left: 4px;
} */

/* ブログ一覧 */
/* .green {
    position: relative;
    bottom: 37px;
    left: 770px;
} */

/* ページトップ */
/* .greeen {
    position: relative;
    bottom: 65px;
    left: 900px;
} */

/* ブログタイトル */
/* .card-title1 {
    font-size: 45px;
    font-family: sans-serif;
} */

/* ブログ日付 */
/* .card-title2 {
    font-size: 20px;
    font-family: serif;
} */

/* ブログカテゴリ */
/* .card-title3 {
    font-size: 24px;
} */

/* ブログ内容 */
/* .card-text1 {
    font-size: 26px;
} */

/* 編集削除ボタン */
/* .edit {
    position: relative;
    top: 10px;
} */
