@charset "utf-8";

html {
    font-size: 110%;
}

body {
    color: #333;
    font-size: 1rem;
    margin: 0;
    /* background-color: hwb(0 100% 0%); */
    /* background-size: cover; */
}

.navbar-brand {
    font-family: "Kaushan Script", cursive;
    font-size: 2.7rem;
}

#app {
    background-color: #f0ebe8;
    /* background-color: #000000; */
}
